
 *{
    background:#1ccdfe;
    color:#354664;
}
h1{
font-weight: bold;
font-size:50px;

}
div{
background: #ffffff; 
width:200px;
height:200px;
position: absolute;
top:0;
bottom: 0;
left: 0;
right: 0;
margin: auto;
}
button{
  background:#f95f62;
}
button:hover{
    background-color: #e14c51;
  }
/*


  🔠 Typography:
  - Font: "Onest", a modern, humanist sans-serif
  - Heading: Large, bold, centered

  📐 Layout:
  - Max width container with centered content
  - Rounded corners for a soft look
  - Image scales to fit container size
*/
