*{
  box-sizing:border-box;
}
 body{
    background:#1ccdfe;
    color:#354664;
    font-family:"Onest",sans-serif;
    text-align:center;
    padding:32px;
    font-size:16 px;
    line-height:1.5;
}
h1{
font-weight: bold;
font-size:38px;
margin-top:0;
margin-bottom:10px;
}
.container{
background: #ffffff; 
max-width:600px;
padding:25px;
border-radius:10px;
margin:0 auto;
}
button{
  background:#f95f62;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:5px;
  cursor:pointer;
  font-size:18px;
  margin-top:20px;
  margin-bottom:20px;
  transition: background-color 0.2 secs ease;
}
button:hover{
    background-color: #e14c51;
  }
  img{
    width:100%;
    height:100%;
  }
  p{
  margin:0;
  font-size:20px;
  }
  img{
    width:100%;
    display:block;
    height:auto;
    margin: 20px auto 0;
    border-radius: 8px;
  }
/*


  🔠 Typography:
  - Font: "Onest", a modern, humanist sans-serif
  - Heading: Large, bold, centered

  📐 Layout:
  - Max width container with centered content
  - Rounded corners for a soft look
  - Image scales to fit container size
*/
